<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auxilium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A21AF4391E46687D007D9BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A21AF4551E46687E007D9BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A21AF4601E46687E007D9BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
