<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>628374230632-h7lgjt3tm54q2jnlotksabo9c2fb19on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628374230632-h7lgjt3tm54q2jnlotksabo9c2fb19on</string>
	<key>API_KEY</key>
	<string>AIzaSyC7zorK8tu1Ru8HMhsqJipf31bms9EdGN4</string>
	<key>GCM_SENDER_ID</key>
	<string>628374230632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mango-Apps.Auxilium</string>
	<key>PROJECT_ID</key>
	<string>auxilium-24ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>auxilium-24ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:628374230632:ios:9587e14948bab66e</string>
	<key>DATABASE_URL</key>
	<string>https://auxilium-24ccd.firebaseio.com</string>
</dict>
</plist>